@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Unbounded:wght@200;300;400;500;600;700;800;900&display=swap');

.navbar-toggler,
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    border: none;
    box-shadow: none;
}

.btn-close,
.btn-close:focus,
.btn-close:active {
    outline: none;
    border: none;
    box-shadow: none;
}

::-webkit-scrollbar {
    width: 8px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #EFEAB4;
    margin-right: 10px !important;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #810280;
    border-radius: 10px;
    -webkit-animation: gradientLine 5s ease infinite;
    -moz-animation: gradientLine 5s ease infinite;
    animation: gradientLine 5s ease infinite;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(5deg, rgba(129,2,128,1) 0%, rgba(255,168,54,1) 100%);
  }

.bg-transparent {
    background-color: none !important;
}

.bg-cream {
    background-color: #EFEAB4;
}

.bg-purple {
    background-color: #810280;
}

.text-color-1 {
    color: #810280;
}

.text-color-2 {
    color: #EFEAB4;
}

.text-color-3 {
    color: #FFA836;
}

.font-headline {
    font-family: Unbounded;
}

.font-content {
    font-family: Montserrat;
    margin-top: 10px;
}

.basic-border {
    border: 3px #000 solid;
}

.font-color-1 {
    color: #2AABE1;
}

.bg-absline {
    background-image: url("/./img/banner/bg-only-3-01.webp");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.bg-absline-2 {
    background-image: url("/./img/banner/bg-only-4-01.webp");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.bg-white {
    background-color: white;
}

.btn-1 {
    transition: 100ms;
    text-decoration: none;
    color: #000;
}

.btn-1:hover {
    transform: scale(1.05);
    box-shadow: 5px 5px 0px 0px rgb(42,171,225);
}

.pg-indent-justify {
    text-indent: 45px;
    text-align: justify;
}

#loading {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 1;
    background-color: #fff;
    z-index: 99;
}

#loading-image {
    z-index: 100;
}

.side-stuck {
    position: -webkit-sticky;
    position: sticky;
    top: 6rem;
    right: 0;
    /* z-index: 2; */
    /* overflow-y: auto; */
  }
  
/* ---------------------------------------------- */

.bg-gradient {
    background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
}

.navbar-brand {
    transition: 500ms;
}

.navbar-brand:hover {
    transform: scale(1.15);
}

.page-link span {
    transition: 100ms;
}

.page-link span:hover {
    transform: scale(1.15);
    color: #2AABE1;
}

.page-link-2 span {
    transition: 50ms;
}

.page-link-2 span:hover {
    transform: scale(1.15);
    color: #FFA836;
}

#modalNavClose {
    opacity: 1;
}

.register {
    transition: 100ms;
}

.register:hover {
    transform: scale(1.05);
    box-shadow: 5px 5px 0px 0px rgb(42,171,225);
}

.nav2 {
    border-radius: 0px 0px 10px 10px;
    border-right: 3px #000 solid;
    border-left: 3px #000 solid;
    border-bottom: 3px #000 solid;
}

/* -------------------------------------------------- */

.link-on-text a{
    text-decoration: none;
    transition: 500ms;
}

.link-on-text a:hover{
    text-decoration: none;
    color: #FFA836;
    transition: 100ms;
}

/* -------------------------------------------------- */

#timer {
    line-height: 1;
    padding: 20px;
    font-size: 40px;
}
  
#timer span {
    display: block;
    font-size: 20px;
}

#info-countdown {
    transition: 5000ms;
}


#time-is-up {
    transition: 5000ms;
}

#end-of-regist {
    transition: 5000ms;
}

#info-pk {
    transition: 5000ms;
}

/* ---------------------------------------------------------- */

@media (max-width: 767.98px) {
    .bg-absline {
        background-image: url("/./img/banner/bg-only-3-mobile-01.webp");
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }
    
    .bg-absline-2 {
        background-image: url("/./img/banner/bg-only-4-mobile-01.webp");
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }
}

/* -------------------------------------------------------- */

.carousel-inner {
    padding: 1em;
}
.card {
    margin: 0 0.7em;
    /* box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18); */
    border-radius: 16px;
    border: 3px #000 solid;
}
.carousel-control-prev,
.carousel-control-next {
    background-color: #FFA836;
width: 6vh;
height: 6vh;
border-radius: 50%;
top: 50%;
transform: translateY(-50%);
}

.carousel-control-prev-icon:focus,
.carousel-control-prev-icon:hover {
    color: #EFEAB4;
}
.card-title {
    font-family: Unbounded;
    color: #810280;
}
.card-text {
    font-family: Montserrat;
}
@media (min-width: 768px) {
.carousel-item {
    margin-right: 0;
    flex: 0 0 33.333333%;
    display: block;
}
.carousel-inner {
    display: flex;
}
}
.card .img-wrapper {
    height: 250px;
    object-fit: cover; 
    background-position: center;
    border-radius: 16px;
}

@media (max-width: 767px) {
.card .img-wrapper {
    height: 17em;
}
}

/* ---------------------------------------------------------- */

.btn-whatsapp {
    border-radius: 25px;
    background-color: #25D366;
    color: rgb(17,27,33);
    transition: 500ms;
}
.btn-whatsapp:hover {
    background-color: rgb(17,27,33);
    color: #25D366;
}

hr.mb-4 {
    border: 1px solid black;
    opacity: 1;
    width: 3rem;
}

/* -------------------------------------------------------------- */

.team-img img {
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    overflow: hidden;
    width: 100%;
    border: 3px #000 solid;
  }
  
  .team-member,
  .team-img {
    position: relative;
    overflow: hidden;
    font-family: Montserrat;
  }
  
  .team-title {
    margin: 30px 0 7px;
    font-family: Unbounded;
  }
  
  .overlay {
    background-color: rgba(20,20,20,.7);
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    font-family: Montserrat;
  }
  
  .team-details {
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 0;
    padding: 5%;
    overflow: hidden;
    width: 100%;
    z-index: 2;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
  }
  
  .team-details p {
    color: #fff;
  }
  
  .team-img:hover .team-details {
    opacity: 1;
    margin-top: -80px;
  }
  
  .team-img:hover .overlay {
    opacity: 1;
  }
  
  .socials a {
    display: inline-block;
    width: 37px;
    height: 37px;
    background-color: transparent;
  }
  
  .socials i {
    line-height: 37px;
    color: #616161;
    font-size: 14px;
    width: 37px;
    height: 37px;
    border-radius: 50%;
    text-align: center;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    -ms-transition: all 0.2s linear;
    transition: all 0.2s linear;
  }
  
  .team-details .socials i {
      color: #fff;
  }
  
  .socials a:hover i {
    color: #fff;
    background-color: #355c7d;
  }
  
  .rounded-random-2 {
      border-radius: 10px 35px 10px 75px;
  }
  
  .rounded-random-3 {
      border-radius: 45px 35px 75px 10px;
  }
  
  .rounded-random-4 {
      border-radius: 45px 35px 75px 15px;
  }